.bg-dark {
    background-color: #1f2929 !important;
}

.navbar {
    z-index: 30;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255,255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.carousel {
    height: calc(100vh - 123px);
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel .carousel-innner > .item > img {
    height: 100px !important;
}

.col {
    text-align: center;
}

.active {
   color: gold !important;
}

a .text-light:hover {
   color: gold !important;
}

.login {
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: 5px;
}

.modal-content {
    border: none;
}

.loginContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginContent input {
    margin: 10px;
}

.loginContent > .buttons {
    width: 100%;
    margin-top: 10px;
    position: relative;
    left: -10px;
}

.loginContent > .buttons > div {
    float: left;
}

.loginContent > .buttons > button {
    float: right;
}

.registerContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registerInputs {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
}

.phone {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.phone > .label {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    margin-bottom: 5px;
}

.phone > div {
    display: flex;
    flex-direction: row;
}

#registerPhoneCode {
    width: 75px;
}

#registerPhoneNumber {
    width: calc(100% - 90px);
}

.registerInputs > .title { 
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.registerContent input, .registerContent select {
    margin: 0 10px 10px 10px;
}

.selectLabel {
    font-size: 14px;
    font-weight: unset;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 20px;
}

.registerContent > .buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}

.registerContent > .buttons > button {
    float: right;
}

.goTo {
    margin-top: 20px;
    width: 100%;
    color: #06b6d4;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    cursor: pointer;
}

#spinnerContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    pointer-events: all;
    transition: 1s;
}

#loginFail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    pointer-events: all;
    transition: 1s;
    font-size: 22px;
}

#loginFail i {
    font-size: 30px;
    margin-bottom: 30px;
} 

#loginSuccessful {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(25, 135, 84, 0.7);
    color: white;
    border-radius: 5px;
    pointer-events: all;
    transition: 1s;
    font-size: 22px;
}

#loginSuccessful i {
    font-size: 30px;
    margin-bottom: 30px;
} 

#spinnerContainer > span {
    margin-top: 20px;
}

.userButtonDiv {
    position: absolute;
    right: 10px;
}

#userButton {
    background-color: unset;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    transition: 0.1s;
}

#userButton i {
    margin-right: 10px;
}

#userButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#userButton:active {
    background-color: rgba(255, 255, 255, 0.2);
}


@keyframes openLogout {
    from {
        position: absolute;
        top: 50px;
        opacity: 0;
    }
    to {
        position: absolute;
        top: 70px;
        opacity: 1;
    }
}

@keyframes closeLogout {
    from {
        position: absolute;
        top: 70px;
        opacity: 1;
    }
    to {
        position: absolute;
        top: 50px;
        opacity: 0;
    }
}

#userLoggedMenuBase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

#userLoggedMenu {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 70px;
    z-index: 25;
    right: 10px;
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-animation-name: closeLogout;
    -webkit-animation-duration: 0.3s;
    animation-name: closeLogout;
    animation-duration: 0.3s;
}

#userLoggedMenu.openLogout {
    display: flex;
    -webkit-animation-name: openLogout;
    -webkit-animation-duration: 0.3s;
    animation-name: openLogout;
    animation-duration: 0.3s;
}

#userLoggedMenu .topDiv {
    width: 100%;
    margin-bottom: 20px;
}

#userLoggedMenu .topDiv button {
    float: right;
    border: none;
    background-color: white;
    outline: none;
    padding: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transition: 0.1s;
}

#userLoggedMenu .topDiv button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#userLoggedMenu .topDiv button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

#userLoggedMenu .logoutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#userLoggedMenu .logoutContent #fullUserName {
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#userLoggedMenu .logoutContent #fullUserName i {
    margin-right: 10px;
}

#userLoggedMenu .logoutContent #email {
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#userLoggedMenu .logoutContent #email i {
    margin-right: 10px;
}

#userLoggedMenu .logoutContent #adminPanel {
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}

#userLoggedMenu .logoutContent #adminPanel:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.0);
}

#userLoggedMenu .logoutContent #adminPanel:active {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.0);
}

#userLoggedMenu .logoutContent #adminPanel i {
    margin-right: 10px;
}    

#userLoggedMenu .logoutContent .logoutButtons {
    display: flex;
}

#userLoggedMenu .logoutContent .logoutButtons #userSettings {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userLoggedMenu .logoutContent .logoutButtons #logOut {
    margin-bottom: 10px;
    margin-right: 10px;
    height: 40px;
    width: calc(100% - 50px);
}

#userLoggedMenu .logoutContent .logoutButtons #logOut i {
    margin-right: 10px;
}

.formDateBaseContainer {
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    height: calc(100% - 123px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDateContainer {
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectoresFecha {
    display: flex;
    flex-direction: row;
}

.dateSelector {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    color: white;
    transition: 0.2s;
    padding-left: 50px;
}

.dateSelector:hover {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.35);
}

.dateSelector:focus {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #0d6efd;
    outline: none;
}

.divSelectorFecha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
    color: white;
}

.divSelectorFecha > span {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.divSelectorFecha > i {
    position: absolute;
    left: 35px;
    bottom: 29px;
    font-size: 20px;
}

.divBotonBuscar {
    margin-top: 30px;
}

.divBotonBuscar > .buscar > i {
    margin-right: 10px;
}

.tituloSelectorFecha {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

@keyframes openDialog {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes closeDialog {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.windowBackground {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    pointer-events: all;
    z-index: 100;
}

.windowBackground .windowContainer { 
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    position: relative;
    -webkit-animation-name: closeDialog;
    -webkit-animation-duration: 0.3s;
    animation-name: closeDialog;
    animation-duration: 0.3s;
}

.windowBackgroundOpen {
    display: flex;
}

.windowBackgroundOpen .windowContainer { 
    -webkit-animation-name: openDialog;
    -webkit-animation-duration: 0.3s;
    animation-name: openDialog;
    animation-duration: 0.3s;
}

.settingsInputs {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 30px;
}

#userNameEditField, #passwordEditField, #rePasswordEditField {
    margin-top: 20px;
}

#phoneCodeEditField {
    width: 75px;
    margin-right: 20px;
}

#phoneNumberEditField {
    width: calc(100% - 110px);
}

#saveSettings {
    float: right;
}

#saveSettings i {
    margin-right: 10px;
}

@media (max-width: 990px) {
    div.login {
        position: unset;
    }
}

@media (max-width: 670px) {
    div.selectoresFecha {
        flex-direction: column;
    }

    div.formDateContainer {
        max-width: 430px;
        width: 70%;
        padding: 20px 0px;
    }

    div.formDateContainer input {
        max-width: 230px;
        width: 100%;
    }
}